<footer class="footer">
    <div class="container">
        <div class="columns">
            <div class="column is-3 is-offset-2">
                <h2><strong>Category</strong></h2>
                <p>
                    <a href="#">Lorem ipsum dolor sit amet</a>
                </p>
                <p>
                    <a href="#">Vestibulum errato isse</a>
                </p>
            </div>
            <div class="column is-3">
                <h2><strong>Category</strong></h2>
                <p>
                    <a href="#">Lorem ipsum dolor sit amet</a>
                </p>
                <p>
                    <a href="#">Vestibulum errato isse</a>
                </p>
            </div>
            <div class="column is-4">
                <h2><strong>Category</strong></h2>
                <p>
                    <a href="#">Lorem ipsum dolor sit amet</a>
                </p>
                <p>
                    <a href="#">Vestibulum errato isse</a>
                </p>
            </div>
        </div>
    </div>
</footer>
<footer style="border-top: 1px solid #d2d5d6;" class="footer">
    <div class="content has-text-centered">
        <p>
            © 2018 - <a target="_blank" href="http://www.nethesis.it/">Nethesis</a> srl p.i. 02148460419 | <a href="https://www.nethesis.it/privacy-policy/"
                target="_blank">Privacy e Cookie policy</a>
        </p>
    </div>
</footer>