<div class="old-documentation">
    Qui puoi visualizzare la <strong><a target="_blank" href="https://legacy.docs.nethesis.it">versione precedente di Nethipedia</a></strong>
</div>
<footer class="footer first-footer">
    <div class="container">
        <div class="columns">
            <div class="column is-3 is-offset-2">
                <h2><strong>Sede</strong></h2>
                <p>
                    Strada degli Olmi, 12 <br>
                    61122 - Pesaro (PU)
                </p>
            </div>
            <div class="column is-3">
                <h2><strong>Contatti</strong></h2>
                <p>
                    +39 0721 1791157
                </p>
                <p>
                    <a target="_blank" href="https://www.nethesis.it/contatti/">Info contatti</a>
                </p>
            </div>
            <div class="column is-3">
                <a target="_blank" href="https://www.nethesis.it/">
                    <img class="nethesis-logo-image" src="/assets/images/nethesis-logo-150.png">
                </a>
                <p>
                    Da radici Open Source nascono nuove <br>
                    soluzioni
                </p>
            </div>
        </div>
    </div>
</footer>
<footer class="footer second-footer">
    <div class="content has-text-centered">
        <p>
            © 20{{ site.time | date: '%y' }} - <a target="_blank" href="http://www.nethesis.it/">Nethesis</a> srl p.i. 02148460419 | <a href="https://www.nethesis.it/privacy-policy/"
                target="_blank">Privacy e Cookie policy</a>
        </p>
    </div>
</footer>