<section class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title home-large-title">
                Nethipedia
            </h1>
            <h2 class="subtitle">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
                aliqua. Ut enim ad minim veniam.
            </h2>
            <div class="">
                <div class="card-content">
                    <div class="content">



                        <div class="control has-icons-left has-icons-right search-field"><input type="text" placeholder="Cerca..."
                                class="input is-large">
                            <span class="icon is-medium is-left">
                                <i class="fa fa-search"></i>
                            </span>
                            <span class="icon is-medium is-right">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>