<section class="hero is-info is-medium is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title home-large-title">
                nethipedia
            </h1>
            <h2 class="subtitle">
                <strong>Benvenuto in nethipedia</strong><br> Qui troverai tutta la documentazione relativa alle soluzioni nethesis
            </h2>
            <div class="">
                <div class="card-content top-search-form">
                        <form class="navbar-form navbar-right" target="_blank" method="get" id="searchform" action="https://www.google.com/search">
                            <div class="content">
                            <div title="Ricarca di Google" class="control has-icons-left has-icons-right search-field">
                                <input type="text" name="q" placeholder="Cerca..." class="input is-medium">
                                <input name="sitesearch" type="hidden" value="docs.nethesis.it">
                                <span class="icon is-medium is-left">
                                <i class="fa fa-search"></i>
                                </span>
                                <span class="icon is-medium is-right">
                                </span>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>