<head>
    <meta charset="utf-8">
    <title> Nethipedia - Documentazione Nethesis </title>
    <meta name="description" content="Nethipedia è la piattaforma che contiene le informazioni e la documentazione relativa ai prodotti e alle soluzioni Nethesis.">
    <meta name="viewport" content="width=device-width">
    <!-- <link rel="icon" href="favicon.ico" type="image/x-icon" /> -->
    <link href="/assets/fonts/OpenSans-Regular.ttf" rel="stylesheet">

    <link rel="stylesheet" href="/assets/css/hero.css" />
    <link rel="stylesheet" href="/node_modules/bulma/css/bulma.min.css" />
    <link rel="stylesheet" href="/assets/css/font-awesome/all.min.css" />

    <link rel="shortcut icon" type="image/png" href="/assets/images/favicon-01.png"/>

    <meta name="google-site-verification" content="hR4RW8Fchx4T8o4dBtxRIyS1sexPxO_nAml4MBtpcsM" />
</head>