html,
body {
    background: #EFF3F4;
    font-family: 'Open Sans', sans-serif !important;
}

.hero-body .container {
    max-width: 700px;
}

.hero-body .title {
    color: hsl(192, 17%, 99%) !important;
}

.hero-body .subtitle {
    color: hsl(192, 17%, 99%) !important;
    padding-top: 1.5rem;
    line-height: 1.5;
}

.features {
    padding: 5rem 0;
}

.box.cta {
    border-radius: 0;
    border-left: none;
    border-right: none;
}

.card-image>.fa {
    font-size: 8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #209cee;
}

.card-content .content {
    font-size: 14px;
    margin-bottom: 6px;
}

.card-content .content h4 {
    font-size: 17.5px;
    font-weight: 700;
}

.card {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);
    margin-bottom: 2rem;
}

.intro {
    padding: 5rem 0;
    text-align: center;
}

.sandbox {
    padding: 5rem 0;
}

.tile.notification {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.is-shady {
    animation: flyintoright .4s backwards;
    background: #fff;
    box-shadow: rgba(0, 0, 0, .1) 0 1px 0;
    border-radius: 4px;
    display: inline-block;
    margin: 10px;
    position: relative;
    transition: all .2s ease-in-out;
}

.is-shady:hover {
    box-shadow: 0 10px 16px rgba(0, 0, 0, .13), 0 6px 6px rgba(0, 0, 0, .19);
}

/*adds font awesome stars*/
footer li:before {
    content: '\f1b2';
    font-family: 'FontAwesome';
    float: left;
    margin-left: -1.5em;
    color: #147efb;
}

.hero.is-info.is-bold {
    background-image: linear-gradient(141deg, #10b5e6 0, #00a2de 71%, #4797ff 100%) !important;
}

.home-large-title {
    font-size: 53px !important;
    text-shadow: 1px 1px 1px #0000001c;
    margin-bottom: 14px !important;
    margin-top: 10px;
}

.hero.is-medium .hero-body {
    padding-bottom: 1rem !important;
    padding-top: 1rem !important;
}

.content ul {
    list-style-type: circle !important;
}

.card {
    width: 100%;
}

.menu-list a {
    font-size: 14px;
}

.menu {
    margin-top: 25px;
}

.software-version {
    font-size: 13px !important;
    letter-spacing: 2px !important;
    color: #636363 !important;
}

.features {
    padding: 0px !important;
}

.products-container {
    padding-top: 50px;
    padding-bottom: 50px;
}

.logos-images {
    background-color: #ffffff;
    background-image: url("/assets/images/black-thread-light.png");
    height: 140px;
}

.no-radius-right {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.no-radius-left {
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

.card {
    height: 100%;
}

.columns {
    margin-bottom: 30px !important;
    width: 100%;
}

.nethesis-logo-image {
    background-color: #34a2dee8;
    border-radius: 4px;
    padding: 6px 11px;
}

.second-footer {
    padding: 3rem 0rem !important;
    border-top: 1px solid #d2d5d6;
}

.first-footer {
    padding: 4rem 7rem 2rem 6rem !important;
}

.product-image {
    height: 300px;
    width: 300px;
    margin-top: 1rem;
    margin-top: -78px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

.ul-links-list li:first-child a {
    font-weight: 600;
    font-size: 16px;
    padding-left: 11px;
    margin-bottom: 10px;
}

.ul-links-list li a {
    width: fit-content;
}

.ul-links-list li a:hover {
    color: #292929 !important;
}

.card-content {
    padding-bottom: 8px !important;
    padding-top: 2rem !important;
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}

.nethsecurity {
    color: #2d8dcd !important;
}

.nethvoice {
    color: #60b464 !important;
}

.nethservice {
    color: #f0830c !important;
}

.nethmonitor {
    color: #8867a9 !important;
}

.nethspot {
    color: #294b9a !important;
}

.my {
    color: #565656 !important;
}

.nethbox {
    color: #565656 !important;
}

.support {
    color: #565656 !important;
}

.product-description {
    color: #757575;
}

.top-search-form {
    padding-top: 0px !important
}