<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    {% include header.html %}
    <section class="container products-container">
        {% for row in site.data.nethpedia_rows %}
        <div class="columns features">
            {% for product in site.data.nethpedia_products limit:row.limit offset:row.offset %}
            <!-- COL -->
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered logos-images">
                        {% assign file = '/assets/images/' | append: product.product | downcase | append: '.svg' %}
                        <img class="product-image" src="{{file}}">
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4 class="{{product.product | downcase}}">
                                {% if product.name == '' %}
                                  {{product.product}}
                                {% endif %}
                                {% if product.name != '' %}
                                  {{product.name}}
                                {% endif %}
                            </h4>
                            <p class="{{product.product | downcase}}">{{product.description}}</p>
                            <aside class="menu">
                                <p class="menu-label {{product.product | downcase}}">
                                    {% if product.release != '' %}
                                    Versione - {{product.release}}
                                    {% endif %}
                                </p>
                                <ul class="menu-list ul-links-list">
                                    {% for doc in product.docs %}
                                        <li><a class="{{product.product | downcase}}" target="_blank" href="{{doc.url}}">{{doc.label}}</a></li>
                                    {% endfor %}
                                </ul>
                            </aside>
                        </div>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endfor %}
    </section>
    {% include footer.html %}
</body>
</html>