<!DOCTYPE html>
<html>

{% include head.html %}

<body>
    {% include header.html %}
    <section class="container">

        <div class="columns features">
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class="fa fa-paw"></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et. </h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec.
                                Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac
                                ut consequat semper viverra nam.</p>
                            <p><a href="#">Learn more</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class="fa fa-paw"></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et. </h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec.
                                Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac
                                ut consequat semper viverra nam.</p>
                            <p><a href="#">Learn more</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="card is-shady">
                    <div class="card-image has-text-centered">
                        <i class="fa fa-paw"></i>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            <h4>Tristique senectus et netus et. </h4>
                            <p>Purus semper eget duis at tellus at urna condimentum mattis. Non blandit massa enim nec.
                                Integer enim neque volutpat ac tincidunt vitae semper quis. Accumsan tortor posuere ac
                                ut consequat semper viverra nam.</p>
                            <p><a href="#">Learn more</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
    {% include footer.html %}
</body>

</html>